
Experiment 1/.DS_Store
.DS_Store
Experiment 1/Star-Galaxy-QSO/.ipynb_checkpoints/notebook-checkpoint.ipynb
Experiment 2/github repo/output4/pdfresizer.com-pdf-crop.pdfZone.Identifier
Experiment 1/dataset/paperX.npy
Experiment 1/Star-Galaxy/.ipynb_checkpoints/notebook-checkpoint.ipynb
Experiment 1/Star-Galaxy-QSO/output/iucaa_paper_results.csv
Experiment 1/Star-Galaxy-QSO/output/CNNClassifier.h5
